@media (min-width: 768px) {
  .navbar-collapse {
    height: 100%;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
    color:chocolate;

      
  }
  @font-face {
    font-family: 'LatoLight';
    src: url('http://fonts.googleapis.com/css?family=Lato') format("embedded-opentype"), 
         url('http://fonts.googleapis.com/css?family=Lato') format("woff"), 
         url('http://fonts.googleapis.com/css?family=Lato') format("truetype"), 
         url('http://fonts.googleapis.com/css?family=Lato') format("svg");
    font-weight: normal;
    font-style: normal;
}
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;

  }
  .navbar-collapse.in {
    overflow-x: visible;
         

  }
.navbar {
    max-width:300px;
    margin-right: 0;
    margin-left: 0;

}
    
.navbar .nav > li > a {
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
}

.navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header
{float:none !important;}

.navbar-right .dropdown-menu {
    left:0;right:auto;
    color:bisque;
}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
}
#title  
{
    
background: rgb(160,242,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(160,242,255,1) 7%, rgba(214,249,255,1) 33%, rgba(158,232,250,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(7%,rgba(160,242,255,1)), color-stop(33%,rgba(214,249,255,1)), color-stop(100%,rgba(158,232,250,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(160,242,255,1) 7%,rgba(214,249,255,1) 33%,rgba(158,232,250,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(160,242,255,1) 7%,rgba(214,249,255,1) 33%,rgba(158,232,250,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(160,242,255,1) 7%,rgba(214,249,255,1) 33%,rgba(158,232,250,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(160,242,255,1) 7%,rgba(214,249,255,1) 33%,rgba(158,232,250,1) 100%); /* W3C */
width: 96%;
    font-family: 'Lato', sans-serif !important;
    font-size: 400%;
    color: White;
/*     background-color:#F5C9D8;
    width: 95%;
   height: 100%;*/
}
/*
#BanTit
{
 
}
*/
.panel {
    border: 0;
}
